{% extends 'base.html' %}
{% block title %}
Create
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{% endblock %}
{% block content %}
<form class="template" action="/calendar" method="POST">
  <div class="container">
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
    {{each}}<br>
    {% endfor %}
  <table class="table" id="temp">
    <tr>
      <td colspan="3" style="text-align:center;">
	<input type="text" name="tempname" placeholder="template name" style="width:50%; text-align:center;">
      </td>
    </tr>
    <tr>
      <th style="width:50%">
	Task Name
      </th>
      <th style="width:25%">
	Start Time
      </th>
      <th style="width:25%">
	End Time
      </th>
    </tr>
  </table>
  <div class="center">
  <button type="submit" class="btn btn-primary"> Create </button>
</form>
<button type="button" class="btn btn-primary" id="add"> Add a task </button>
</div>
</div>
<br>
<br>
<br>
{% endblock %}
{% block js %}
<script src="static/template.js"> </script>
{% endblock %}
