{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container">
<table class="table" style="float:left">
    {% for row in task %}
  <tr>
    {% for col in row %}
    <td>
      {{col}}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<table class="table table-bordered table-dark" style="float:right">
    <thead>
        <tr>
            <th scope="col" colspan="2">Task</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="home time" value="time_into"> 99 </td>
            <td class="home time" value="time_left"> 99 </td>
        </tr>
        <tr>
            <td class="home"> minutes into </td>
            <td class="home"> minutes left </td>
        </tr>
        <tr>
            <td class="home" colspan="2" id="timer"> 99:99:99 </td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}
{% block js %}
<script src="static/timer.js"></script>
{% endblock %}
