{% extends 'base.html' %}
{% block title %}
Login/Register
{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="mainNav">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <center>
      <li class="nav-item">
        <a class="navlink" href="/"> <font size="3px">&larr;</font> Back to the welcome page</a>
      </li>
      </center>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="container">
<form class="form" action="/auth" method="POST">
  <div class="flash">
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
    {{each}}<br>
    {% endfor %}
  </div>
  <div class="form-group">
    <input type="username" class="form-control" name="username" placeholder="username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="password">
  </div>
  <div id="button">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <br>
  <a href="/register">Click here to register!</a>
</form>
</div>
{% endblock %}

