{% extends 'base.html' %}
{% block title %}
Templates
{% endblock %}
{% block content %}
<form method="POST" id="cal_tem" action="/disp_temp">
<input type="hidden" id="selected" name="selected"> </input>
<div class="container">
  <div class="templates">
    <center>
    <table>
      {% for template in templates %}
      <tr> <td class="highlight" id={{template}}>
{{template}} </td> </tr>
      {% endfor %}
    </table>
    </center>
  </div>
  </form>
<div id="template-button">
<form action="/create" method="POST">
  <div id="button">
    <input type="submit" class="btn btn-primary" value="Create a New Template">
  </div>
</form>
</div>
<br>
</div>
{% endblock %}
{% block js %}
<script src="static/dispcal.js"></script>
{% endblock %}
