{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container">
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
        {{each}}<br>
    {% endfor %}
<table class="table" style="float:left">
    <tr>
        <th scope="col" colspan="4"><em>{{name}}</em></th>
    </tr>
    <tr>
        <th><em>#</em></th>
        <th><em>Task Name</em></th>
        <th><em>Start Time</em></th>
        <th><em>End Time</em></th>
    </tr>
    {% for row in task %}
  <tr>
    <td>
        {{ loop.index0 }}
    </td>
    {% for col in row %}
    <td>
      {{col}}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<br>
<center>
<form action="/calendar" method="POST">
  <div id="button">
    <input type="hidden" value={{name}} name="template">
    <input type="submit" class="btn btn-primary" value="Add Template to Calendar">
  </div>
</form>
<form action="/create" method="POST">
  <div id="button">
    <input type="hidden" value={{name}} name="name">
    <input type="submit" class="btn btn-primary" value="Edit template">
    </div>
</center>
</div>
{% endblock %}
