th {
    text-align: center;
}

td.calendar {
    border: solid 1px #grey;
    border-top-width: 0px;
    border-left-width: 2px;
    text-align: left;
    padding-top: 0px;
    padding-left: 3px;
    transition: border-width 0.5s ease-in-out;
}

td.calendar:hover {
    background-color: #A1B5d8;
    border-width: 5px; 
}
