{% extends 'base.html' %}
{% block nav %}
{% endblock %}
{% block content %}
{% set msgs = get_flashed_messages() %}
{% for each in msgs %}
{{each}}<br>
{% endfor %}
<form class="form">
  <div class="form-group">
    <input type="username" class="form-control" id="username" placeholder="username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="password">
  </div>
  <div id="button">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <br>
  <a href="/register">Click here to register!</a>
</form>
{% endblock %}

